.video-container 
  = video_tag ["bbq.mp4", "bbq.webm"], autoplay:true, loop:true, poster:'bbq.jpg'
.row.full-height.middle-xs.center-xs.relative.up
  .col-xs-12
    .box.white-text
      = image_tag "logo.png", width:200
      %h1.dancing-script.title.no-margin La Burger
      %p#is-open
        %span.glyphicon.glyphicon-star
        Abierto ahora

.absolute.medium.black.large-padding.botton.center-xs.white-text.full-width#description Atención cálida y comida preparada por artistas