%nav.fixed.top.right.navigation.white-text#navigation
  %ul.list-inline
    %li
      =link_to "Inicio"
    %li
      %a{:href => "#"} Menú
    %li 
      %a Galería
    %li
      %a Contacto
    %li
      %a Cómo llegar
