<!DOCTYPE html>
<html>
  <head>
    <title>La mejor comida en Restauranto</title>
    <meta content='Come rico y barato en el mejor rastaurante de la ciudad, servicio de primera. Los mejores hamburguesa casera de la ciudad.' name='description'>
    <link href='https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css' rel='stylesheet'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


